@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  background-image: url(movie.jpg);
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

.container{
  text-align: center;
  color: wheat;
}

.container input{
  width: 35%;
  height:35px;
  border-radius: 20px;
}

#title_input{
  padding-left:15px;
  border: none;
}
.container button{
  height:35px;
  border-radius: 40px;
  width:80px;
  background-color:rgb(204, 40, 40);
  border: none;
}

input:focus{
  outline:none;
}

.movie-card{
  width: 300px;/*width of 300px*/
  height:420px;/*height of 300px*/
  text-align: center;
  background:rgba(0, 0, 0, 0.788);/*card color for the first row only*/
  box-shadow: 13px 14px 37px -21px rgba(0,0,0,0.11);
  margin:30px;/*space around the card*/
  padding:20px;/*space inside the card*/
}
.movie-card h5{
  color:white;  
  font-size:16px;
  font-style: italic;
}

.movie-card button{
  background-color: rgb(255, 255, 255);
  height:35px;
  border:none;
  border-radius:50px;
  width:100px;
}
button:hover{
  cursor:pointer;
}
.movie-card img{
  width:180px;
}

#search_result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;/*center all the card to the center of the page*/
} 


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color:rgba(0, 0, 0, 0.945); /* Black w/ opacity */
  height:100%;
}

/*Standard syntax retreived from w3schools. This will remove the extra scroll bar on the right when the modal is opened.*/
.modal::-webkit-scrollbar { 
  width: 0;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding:0px 20px;
  border: 1px solid #888;
  width: 65%;
  height: auto;
  padding:0px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
}

.modal-content h4{
font-style: italic;
}

.information{
  margin:auto;
  width:50%
}

.plot-div p{
  font-size:20px;
}


.poster-in-modal{
  width:100%;
  padding-top:80px;
}

.split-information{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
}

/*sets the width of each of the information divs so that they can have equal width and be aligned. This applies for the released, Box Office , Run Time and Rating Informations.*/
.released-div,.BoxOffice-div,.runtime-div,.imdbRating-div{ 
  width:250px;
}



/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}