@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

/*Styling the body for the web page*/
body{
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  background-image: url(images/clapperboard.png);
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

/*Styling the body for the web page*/
header{
  display: flex;
  position: relative;
}

/*Setting margin for the logo*/
.logo{
  margin-top: 5px;
}

/*Italic font-style in the input for the placeholder*/
:placeholder-shown{
  font-style: italic;
}

/*Wrapping the search icon and input*/
.wrapper{
  position:absolute;
  width:30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/*Container for the input and search btn*/
.container { 
  margin:auto;
  position: relative; 
} 

/*Styling input bar*/
input{ 
  font-size:20px;
  color:white;
  padding: 5px; 
  width: 100%; 
  outline: none; 
  height: 30px; 
  background-color: rgba(0, 0, 0, 0);
  border-left:none;
  border-right:none;
  border-top:none;
  border-color: white;
} 

/*Styling the search icon (fa-fa-search)*/
#search-btn{ 
  position: absolute; 
  top: 0px; 
  border-radius: 5px; 
  right: 0px; 
  border: none; 
  height: 30px; 
  cursor: pointer; 
  background-color: #6b7f9200; 
  transform: translateX(2px); 
  outline:none;
}

/*Hover effect for the search icon*/
#search-btn:hover{
  transform: scale(1.3);
  transition: transform .4s;
}

/*Giving the search icon white color and the size of 22px*/
.fa.fa-search{
  color: white;
  font-size: 22px;
}

input:focus{
  outline:none;
}

/*Styling about aite button*/
#about-btn{
  position: absolute; 
  top: 45px;
  right:30px;
  background-color: rgba(255, 255, 255, 0);
  outline:none;
  border:none;
  height: 30px;
  font-size:20px;
  color: white;
  transition: transform 0.6s;
  font-family: 'Poppins', sans-serif;
}

/*Give the about site button a hover effect*/
#about-btn:hover{
  cursor: pointer;
  background-color: yellow;
  transition: transform 0.6s;
  transform: scale(1.2);
  border-radius: 20px;
  color:#000
}

/*Styling the not found div when the use eneters a movie that is not found*/
.not_found{
  text-align: center;
  margin-top:20px;
  color:rgb(214, 214, 214);
  font-size:22px;
  background-color: rgba(0, 0, 0, 0.415);
  padding:15px;
}

/*Styles the not found text*/
.not-found-alert{
  font-style: italic;
  font-weight: 700;
  color:yellow;
  font-size:26px;
}

/*Styling the about div*/
#about-div{
  width:80%;
  margin:auto;
  background-color: rgba(0, 0, 0, 0.383);
}

/*Make the about content font to be white*/
.about-content{
  color:white;
  padding:50px;
}

/*Style the header in the about div*/
.welcome{
  font-family: 'Oswald', sans-serif;
  margin:0px;
  font-size:32px;
  font-weight: 900;
  color:rgb(84, 248, 188);
}

/*socials in the about div*/
.socials{
  display: block;
  margin: auto;
  background-color: #1e273300;
  font-size:15px;
  text-align: center;
  padding-top:40px;
}

/*social media icons styling*/
.socials img{
  width:35px;
  padding:10px;
  margin: 15px;
  border:1px solid rgba(255, 255, 255, 0.383); 
  border-radius: 35px;
}

/*hover over footer img and have yellow border*/
.socials img:hover{
  border: 1px solid yellow;
  transition: 0.4s;
  transform: scale(1.1);
}

/*Styling the movie card that is appended in to the search results*/
.movie-card{
  width: 345px;
  height:450px;
  text-align: center;
  background:rgba(0, 0, 0, 0.65);
  box-shadow: 13px 14px 37px -21px rgba(0,0,0,0.11);
  margin:30px;/*space around the card*/
  padding:15px;/*space inside the card*/
}

/*Styling the movie card image*/
.movie-card img{
  width:210px;
  height:300px;
  display: block;
  margin: auto;
  object-fit: contain;
}

/*Font-szie of the movie title in the movie card*/
.movie-card h5{
  color:white;  
  font-size:18px;
  font-style: italic;
}

/*Style the noit found image to fit into the card automatically*/
.na{
  object-fit: cover;
}

/*Styling the movie card button that shows "Learn More"*/
.movie-card button{
  background-color: rgb(255, 255, 255);
  height:35px;
  border:none;
  border-radius:50px;
  width:100px;
  outline: none;
}

/*Hover effect for the learn more button*/
.movie-card-btn:hover{
  background-color:rgb(255, 251, 0) ;
  transform: scale(1.2);
  transition: 0.3s ease-out;
  cursor:pointer;
}

/*style The search result div to be flexible*/
#search_result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;/*center all the card to the center of the page*/
} 

.search_result_title{
  text-align: center;
  font-family:sans-serif;
  color:white;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top:50px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color:rgba(0, 0, 0, 0.849); /* Black w/ opacity */
  height:100%;
}

/* Modal Content */
.modal-content {
  background-color:rgb(12, 12, 12); /* Black w/ opacity */
  color:white;
  margin: auto;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding:30px;
  margin-bottom: 50px;
  position:relative;
}

/*Style the individual contents inthe modal*/
.movie-title{
  display:inline-block;
  margin:0;
  font-size:35px;
}

.plot{
  font-size:16px;
  font-style:italic;
  margin-bottom:40px;
}

.rated{
  font-size: 18px;
  color: rgb(118, 118, 118);
}
.highlights{
  font-family: 'Oswald', sans-serif;
  margin:0px;
  font-size:28px;
  font-weight: 900;
  color:rgb(84, 248, 188);
}

.produced{
  margin:0px;
  font-weight: 500;
  font-size:18px;
  font-family: 'Oswald', sans-serif;
}

h3{
  margin-bottom:0px;
}

.split-information{
  margin-top:20px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
}

.information{
  flex:1;
  display:flex;
  flex-direction:column;
}

.information img{
  width:290px;
  padding:15px;
  margin: auto;
}

/*sets the width of each of the information divs so that they can have equal width and be aligned. This applies for the released, Box Office , Run Time and Rating Informations.*/
.released-div,.BoxOffice-div,.runtime-div,.imdbRating-div{ 
  width:250px;
}

.directed{
  margin-top:0px;
  margin-bottom: 0px;
  font-size:20px;
  font-style:italic;
}

/* Styling The Close Button in the modal*/
#close-modal {
  position: absolute;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  top:-20px;
  right:-20px;
  width:40px;
  height:40px;
  border-radius: 40px;
  border-color:rgba(255, 255, 255, 0);
  outline: none;
}

#close-modal:hover{
  background-color: rgb(251, 255, 0);
  cursor: pointer;
  transform:scale(1.2);
  transition: 0.3s;
}


/*MEDIA QUERY TO ADJUST ELEMENTS when screen size is affected*/
@media screen and (min-width:270px) and (max-width:450px){
  .container { 
    width: 60%; 
  } 

  .information img {  
    width:150px; 
    margin:auto;  
  }

  .information{
    width:100%;
    margin:auto;
  }

  .movie-title{
    font-size:25px;
  }

  input{
    font-size:15px;
  }

  .fa.fa-search{
    top:10px;
    font-size:18px;
  }
  .wrapper{
    width: 100%;
    margin-top: 60px;
  }
  #about-div{
    margin-top: 60px;
  }
  .logo img{
    width:170px;
  }
  #about-btn{
    top:35px;
    font-size:13px;
    right:10px;
  }

}

@media screen and (min-width:450px) and (max-width:540px){
  .container { 
    width: 70%; 
  } 
  .information img {
    width:200px;
  }

  .information{
    width:100%;
  }
  .wrapper{
    width: 100%;
    margin-top: 60px;
  }
  #about-div{
    margin-top: 60px;
  }
}


@media screen and (min-width:540px) and (max-width:740px){
  .container { 
    width: 70%; 
  } 
  .wrapper{
    width: 100%;
    margin-top: 60px;
  }
  #fav-modal{
    margin-top:70px;
  }
  #about-div{
    margin-top: 60px;
  }
}

@media screen and (max-width:1500px){
  .modal-content {
    flex-direction: column;
  }
}
