body {font-family: Arial, Helvetica, sans-serif;}

.container{
  text-align: center;
}

.conatiner{
  
}
.movie-card{
  width: 300px;/*width of 300px*/
  height:400px;/*height of 300px*/
  text-align: center;
  background:rgba(179, 145, 223, 0.253);/*card color for the first row only*/
  box-shadow: 13px 14px 37px -21px rgba(0,0,0,0.11);
  margin:30px;/*space around the card*/
  padding:20px;/*space inside the card*/
}

#search_result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;/*center all the card to the center of the page*/
} 

.movie-card img{
  width:200px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal::-webkit-scrollbar { /*removes the 1 scroll thiny*/
  width: 0;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 730px;
  overflow: auto;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.poster-in-modal{
  width:200px;
}